 @import "vars";

 html{ 
   font-size: 15px;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: $black;
}

// ----blocks-----
@import "blocks/container";
@import"blocks/header";
@import"blocks/user";
@import"blocks/nav";