.nav{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav__link{

margin-left: 2rem;
position: relative;
 font-size: 0.93rem;
 font-weight: 700;
 text-transform: uppercase;
 text-decoration: none;
 color: $black;

 
     
    &:after{
        content: "";
        width: 0;
        
        height: 2px;
        background-color:$black;

        position: absolute;
        bottom: -3px;
        left: 0;
        z-index: 1;

        transition: width .2s linear;
    }
    
    
    &:hover,
    &:active{
        &:after{
         width: 100%;
        }
    }
  

}

.nav__link--btn {
    @include btn ;
}


// intro_______________________________
 

